.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
    color: white;
    width: 100%;
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

.navbar-item {
    color: white;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}