.savings-page {
    padding: 20px;
    height: 100vh ;
    width: 100vw;
}

.savings-page h1 {
    color: #f8f9fa;
    margin-bottom: 10px;
}
.title{
    color: #f8f9fa;
    margin-bottom: 10px;
    text-align: left;
}

.savings-page p {
    font-size: 18px;
    color: #28A745;
}

.savings-page ul {
    list-style-type: none;
    padding: 0;
}

.savings-page li {
    background: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.savings-content{
    display: flex;
    flex-direction: column;
    gap:50px;
    width:100%;
    height: calc(100vh - 100px);
    border-radius: 3%;
    margin-top: 75px;
}
.graphs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    height: auto;
    width: auto;
}
.savings-line-chart{
    width: auto;
    height:300px;
}
.savings-circular-chart{
    width: auto;
    height: 300px;
    margin-bottom: 150px;
}
