.auth-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.auth-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.auth-form form {
    display: flex;
    flex-direction: column;
}

.auth-form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.auth-form button {
    padding: 10px;
    background-color: var(--button-color);
    color: white;
    font-size: 0.95em;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.auth-form button:hover {
    background-color:var(--button-hover-color);
}
.auth-form input.error-border {
    border-color: red; /* Cambiar el color del borde cuando hay un error */
}
.error {
    color: red;
    font-size: 0.85em;
    margin-top: -10px;
    margin-bottom: 10px;
}