* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1B3A57; /* Azul más oscuro */
    --secondary-color: #1A5A8F; /* Azul más oscuro */
    --tertiary-color: #87CEFA; /* Azul más claro */
    --button-color: #FF4500; /* Color del botón */
    --button-hover-color: #f0c8a5; /* Color del botón al pasar el ratón */
    --text-color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: var(--secondary-color); /* Usar variable */
}